<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<meta name="keywords" content="libreboot, coreboot, canoeboot, opensource, libre, free software, bios, uefi" />
		<title>{{ block "title" . }}{{ .Site.Title }}{{ end }}</title>
		{{ $style := resources.Get "style.css" | resources.Minify | resources.Fingerprint }}
       		<link rel="stylesheet" href="{{ $style.RelPermalink }}" />
	</head>
	<body>
		<aside id="sidebar">
			<nav>
				<a id="site-title" href="/">
					{{ .Site.Title }}
				</a>
				<ul>
					<li>
						<a href="/">Home</a>
					</li>
					{{ if or (eq .Site.Home .) (and (eq .Parent .Site.Home) .IsPage) }}
						{{ partial "recursive_nav.html" (dict "currentPage" . "pages" .Site.Home.RegularPages) }}
					{{ end }}
				</ul>
				{{ partial "recursive_nav.html" (dict "currentPage" . "pages" .Site.Sections) }}
			</nav>
			<footer>
				{{ block "footer" . }}
				License: <a href="/license">GFDL v1.3</a> with a <a href="/disclaimer">disclaimer</a>
				{{ end }}
			</footer>
		</aside>
		<div id="main-and-footer">
			<main>
			{{ block "main" . }}
			{{ end }}
			</main>
		</div>
		<script>
try {
	document.getElementById('sidebar-scroll-to-target').scrollIntoView(true);
} catch (e) {}
		</script>
	</body>
</html>


