<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<meta name="keywords" content="libreboot, coreboot, canoeboot, opensource, libre, free software, bios, uefi" />
		<title>{{ block "title" . }}{{ .Site.Title }}{{ end }}</title>
		{{ $style := resources.Get "style.css" | resources.Minify | resources.Fingerprint }}
       		<link rel="stylesheet" href="{{ $style.RelPermalink }}" />
	</head>
	<body>
		<aside id="sidebar">
			<a id="site-title" href="/">
				{{ .Site.Title }}
			</a>
			<ul>
				<li>
					<a href="/">Home</a>
				</li>
				{{ partial "recursive_nav.html" (dict "currentPage" . "pages" .Site.Home.RegularPages) }}
			</ul>
			{{ partial "recursive_nav.html" (dict "currentPage" . "pages" .Site.Sections) }}
		</aside>
		<div id="main-and-footer">
			<main>
			{{ block "main" . }}
			{{ end }}
			</main>
			<footer>
				{{ block "footer" . }}
				Unless otherwise noted, all documentation is available under <a href="/license">the GNU Free Documentation License, version 1.3</a>. A <a href="/disclaimer">disclaimer</a> applies.
				{{ end }}
			</footer>
		</div>
		<script>
document.getElementById('sidebar-scroll-to-target').scrollIntoView(true);
		</script>
	</body>
</html>


