html {
	font-family: system-ui, sans-serif;
	--border-radius: .32rem;
	--bg: #280b22;
	--fg: #EEEFF1;
	--boxbg: #2E2F31;
	--border: rgb(80, 80, 80);
	--dim-text-color: #999;
	--link-color: #fcc;
	--text-decoration-color: #575745;
	--header-fg: #f8f9fa;
	--header-bg: #381b32;
	color: var(--fg);
	background-color: var(--bg);
}

main {
	margin: 0 auto;
	padding: 0 1rem;
}

main:not(.wide) {
	max-width: 50rem;
}

h1 {
	text-align: center;
}

a:link, a:visited {
	text-decoration-color: var(--text-decoration-color);
	color: var(--link-color);
}

pre, code {
	font-family: "DejaVu Sans Mono", "Menlo", monospace;
}


table {
	margin-top: 0.4em;
	font-size: 90%;
	margin-bottom: 0.4em;
}
table.wide {
	width: 100%;
}
th[scope~="row"] {
	text-align: left;
}
th[scope~="col"] {
}
td {
	text-align: left;
	height: 1.25rem;
	/* border: 1px solid var(--border); */
	padding: 3px 5px;
}
table.fat td {
	padding: 6px 5px;
}
td.th-like, th {
	background-color: var(--boxbg) !important;
	/* border: 1px solid var(--border); */
	font-weight: bold;
	padding: 3px 5px;
}
th.min, td.min {
	width: 0;
	min-width: fit-content;
	white-space: nowrap;
}

/* The insanity of rounded table corners */
table {
	overflow: hidden;
	border: var(--border) solid 1px;
	border-spacing: 0;
	border-radius: var(--border-radius);
	border-collapse: separate;
}
table>tr:not(:last-child)>td,
table>tr:not(:last-child)>th,
table>thead,
table>thead>tr>th,
table>thead>tr>td,
table>tbody,
table>tbody>tr:not(:last-child)>th,
table>tbody>tr:not(:last-child)>td {
	border-bottom: var(--border) solid 1px;
}
table td:not(:last-child),
table th:not(:last-child) {
	border-right: var(--border) solid 1px;
}



/* Workaround for Firefox bug 217769 */
tbody:empty {
	display: none;
}
table > tbody:after {
	content: "";
}


img:not(.no-auto-width) {
	width: 66%;
	margin: 0 auto;
	display: block;
}




header {
	color: var(--header-fg);
	background-color: var(--header-bg);
	margin: 0;
	padding: 1rem;
	text-align: center;
}

header a {
	text-decoration: none !important;
	color: var(--header-fg) !important;
}

#site-title {
	font-weight: bold;
	font-size: 130%;
}

body, html {
	margin: 0;
	padding: 0;
}

nav#main-nav-bar {
	margin-top: 0.5rem;
	line-height: 1.5;
}

nav#main-nav-bar > ul {
	list-style-type: none;
	text-align: center;
	margin: 0;
	padding: 0;
}

nav#main-nav-bar > ul > li {
	display: inline-block;
}

nav#main-nav-bar li:not(:last-child)::after {
        content:"   ";
}

#table-of-contents {
	border: solid 1px var(--border);
	border-radius: var(--border-radius);
	background-color: var(--box);
	padding: 0rem 1rem;
	display: inline-block;
}

code {
	background-color: var(--boxbg);
	border-radius: 2px;
	padding: 2px;
}

pre {
	background-color: var(--boxbg);
	border-radius: var(--border-radius);
	padding: 0.5rem;
	overflow-x: scroll;
}

pre > code {
	background-color: inherit;
	border-radius: 0px;
	padding: 0px;
}

footer {
	text-align: center;
	opacity: 50%;
	margin: 0.5rem;
}
