/* Global Definitions */
html {
	--border-radius-small: .32rem;
	--background-color: #280b22;
	--foreground-color: #EEEFF1;
	--box-background-color: #381b32;
	--border-color: rgb(80, 80, 80);
	--dim-text-color: #999;
	--link-color: #fcc;
	--text-decoration-color: #6f5c5c;
	--header-foreground-color: #f8f9fa;
	--header-background-color: #381b32;
	font-family: system-ui, sans-serif;
	color: var(--foreground-color);
	background-color: var(--background-color);
	line-height: 1.4;
}

body {
	margin: 0;
	padding: 0;
}

/* Layout */
main {
	margin: 0 auto;
	padding: 0 1rem;
	max-width: 60em;
}

/* Typography */
h1 {
	text-align: center;
}

h2 {
	font-size: 180%;
}

h3 {
	font-size: 150%;
}

h4 {
	font-size: 120%;
	font-style: italic;
}

a:link, a:visited {
	text-decoration-color: var(--text-decoration-color);
	color: var(--link-color);
}

.sidebar-dir-slash {
	color: var(--text-decoration-color);
}

pre, code {
	font-family: "Inconsolata", "DejaVu Sans Mono", "Menlo", monospace;
}

code {
	background-color: var(--box-background-color);
	border-radius: 2px;
	padding: 2px;
}

pre {
	background-color: var(--box-background-color);
	border-radius: var(--border-radius-small);
	padding: 0.5rem;
	overflow-x: scroll;
}

pre > code {
	background-color: inherit;
	border-radius: 0px;
	padding: 0px;
}

/* Tables */
table {
	margin-top: 0.4em;
	margin-bottom: 0.4em;
	font-size: 90%;
	overflow: hidden;
	border: var(--border-color) solid 1px;
	border-spacing: 0;
	border-radius: var(--border-radius-small);
	border-collapse: separate;
}

table.wide {
	width: 100%;
}

th[scope~="row"], td {
	text-align: left;
	height: 1.25rem;
	padding: 3px 5px;
}

table.fat td {
	padding: 6px 5px;
}

td.th-like, th {
	background-color: var(--box-background-color) !important;
	font-weight: bold;
	padding: 3px 5px;
}

th.min, td.min {
	width: 0;
	min-width: fit-content;
	white-space: nowrap;
}

table > tr:not(:last-child) > td,
table > tr:not(:last-child) > th,
table > thead,
table > thead > tr > th,
table > thead > tr > td,
table > tbody,
table > tbody > tr:not(:last-child) > th,
table > tbody > tr:not(:last-child) > td {
	border-bottom: var(--border-color) solid 1px;
}

table td:not(:last-child),
table th:not(:last-child) {
	border-right: var(--border-color) solid 1px;
}

tbody:empty {
	display: none;
}

table > tbody:after {
	content: "";
}

/* Images */
img:not(.no-auto-width) {
	width: 66%;
	margin: 0 auto;
	display: block;
}

/* Header */
header {
	color: var(--header-foreground-color);
	background-color: var(--header-background-color);
	margin: 0;
	padding: 1rem;
	text-align: center;
}

header a {
	text-decoration: none !important;
	color: var(--header-foreground-color) !important;
}

#site-title {
	font-weight: bold;
}

/* Table of Contents */
#table-of-contents {
	border-radius: var(--border-radius-small);
	background-color: var(--box-background-color);
	padding: 0.5rem;
	display: inline-block;
}

#table-of-contents > h2 {
	margin-top: 0rem;
}

#table-of-contents > nav > ul {
	margin-bottom: 0rem;
}

/* Footer */
footer {
	text-align: center;
	opacity: 70%;
	margin: 0.5rem;
}

/* Accordion */
details.accordion {
	background-color: var(--box-background-color);
	margin: 0.6rem 0rem;
	border-radius: var(--border-radius-small);
	padding: 0.2rem 0.5rem;
}

.accordion-inner > :first-child {
	margin-top: 0rem;
}

.accordion-inner > :last-child {
	margin-bottom: 0rem;
}

details.accordion > summary {
	font-weight: bold;
}

details.accordion[open] > summary {
	margin-bottom: 0.5rem;
}


details.accordion > summary:hover {
	cursor: pointer;
}

/* Buttons */
.btn, button.btn {
	border: none;
	font-size: 100%;
	color: var(--foreground-color);
	background-color: var(--box-background-color);
	border-radius: var(--border-radius-small);
	padding: 0.2rem 0.5rem;
	display: inline-block;
	cursor: pointer;
	font-weight: bold;
}
a.btn:link, a.btn:visited {
	text-decoration: none;
	color: var(--foreground-color);
}




aside#sidebar {
	position: fixed;
	top: 0;
	left: 0;
	width: min(33%, 350px);
	height: 100%;
	background-color: var(--header-background-color);
	overflow-y: auto;
	padding: 10px 10px;
	box-sizing: border-box;
	line-height: 1.3;
}

aside#sidebar > nav a:link,
aside#sidebar > nav a:visited {
	text-decoration: none;
	color: var(--header-foreground-color);
}

aside#sidebar > nav ul {
	padding-left: 1rem;
}

aside#sidebar > nav > ul > li:not(first-child) {
	margin-top: 1rem;
}

aside#sidebar > nav > ul {
	padding-left: 0rem;
	list-style: none;
}

aside#sidebar > nav li + li {
	margin-top: 0.2rem;
}

aside#sidebar > nav ul li:first-child {
	margin-top: 0.2rem;
}

div#main-and-footer {
	margin-left: min(33%, 350px);
	padding: 0px 10px;
	overflow-x: auto;
}

main {
	margin: 0 auto;
}

main:not(.wide) {
	max-width: 50rem;
}

@media(max-width: 550px) {
	aside#sidebar {
		display: none;
	}
	div#main-and-footer {
		margin-left: 0px;
	}
}

.nav-current {
	font-weight: bold;
}

.nav-current::after {
	content: " â†";
	color: var(--dim-text-color);
}

nav#TableOfContents ul {
	padding-left: 1.2rem;
}

ol.paren-ol {
    counter-reset: list;
}
ol.paren-ol > li {
    list-style: none;
    position: relative;
}
ol.paren-ol > li:before {
    counter-increment: list;
    content: "(" counter(list, lower-alpha) ") ";
    position: absolute;
    left: -2em;
}
