/* Global definitions */
html {
	--border-radius-small: .32rem;
	--background-color: #280b22;
	--foreground-color: #EEEFF1;
	--box-background-color: #42253c;
	--border-color: rgb(80, 80, 80);
	--dim-text-color: #999;
	--link-color: #fcc;
	--text-decoration-color: #6f5c5c;
	--header-foreground-color: #f8f9fa;
	--header-background-color: #381b32;
	font-family: system-ui, sans-serif;
	color: var(--foreground-color);
	background-color: var(--background-color);
	line-height: 1.3;
}

body {
	margin: 0;
	padding: 0;
}

/* The main container should not be too wide */
main {
	margin: 0 auto;
	padding: 0 1rem;
	max-width: 50rem;
}

/* Titles should be centered */
h1 {
	text-align: center;
}

/* Links; we use a lighter decoration color because that makes it more readable
 * while not impacting accessibility */
a:link, a:visited {
	text-decoration-color: var(--text-decoration-color);
	color: var(--link-color);
}

/* Code blocks and preformatted text should have a background */
pre, code {
	font-family: "Inconsolata", "DejaVu Sans Mono", "Menlo", monospace;
}
code {
	background-color: var(--box-background-color);
	border-radius: 2px;
	padding: 2px;
}
pre {
	background-color: var(--box-background-color);
	border-radius: var(--border-radius-small);
	padding: 0.5rem;
	overflow-x: scroll;
}

pre > code {
	background-color: inherit;
	border-radius: 0px;
	padding: 0px;
}


/* Tables */
table {
	margin-top: 0.4em;
	font-size: 90%;
	margin-bottom: 0.4em;
	overflow: hidden;
	border: var(--border-color) solid 1px;
	border-spacing: 0;
	border-radius: var(--border-radius-small);
	border-collapse: separate;
}
table.wide {
	width: 100%;
}

th[scope~="row"], td {
	text-align: left;
	height: 1.25rem;
	padding: 3px 5px;
}
table.fat td {
	padding: 6px 5px;
}
td.th-like, th {
	background-color: var(--box-background-color) !important;
	font-weight: bold;
	padding: 3px 5px;
}
th.min, td.min {
	width: 0;
	min-width: fit-content;
	white-space: nowrap;
}

/* Rounded table corners */
table>tr:not(:last-child)>td,
table>tr:not(:last-child)>th,
table>thead,
table>thead>tr>th,
table>thead>tr>td,
table>tbody,
table>tbody>tr:not(:last-child)>th,
table>tbody>tr:not(:last-child)>td {
	border-bottom: var(--border-color) solid 1px;
}
table td:not(:last-child),
table th:not(:last-child) {
	border-right: var(--border-color) solid 1px;
}

/* Workaround for Firefox bug 217769 */
tbody:empty {
	display: none;
}
table > tbody:after {
	content: "";
}

/* Images */
img:not(.no-auto-width) {
	width: 66%;
	margin: 0 auto;
	display: block;
}

/* Global header and navigation bar thing  */
header {
	color: var(--header-foreground-color);
	background-color: var(--header-background-color);
	margin: 0;
	padding: 1rem;
	text-align: center;
}
header a {
	text-decoration: none !important;
	color: var(--header-foreground-color) !important;
}
#site-title {
	font-weight: bold;
	font-size: 130%;
}
nav#main-nav-bar {
	margin-top: 0.5rem;
	line-height: 1.5;
}
nav#main-nav-bar > ul {
	list-style-type: none;
	text-align: center;
	margin: 0;
	padding: 0;
}
nav#main-nav-bar > ul > li {
	display: inline-block;
}
nav#main-nav-bar li:not(:last-child)::after {
	content: "   ";
}

/* Table of contents */
#table-of-contents {
	border-radius: var(--border-radius-small);
	background-color: var(--box-background-color);
	padding: 0.5rem;
	display: inline-block;
}
#table-of-contents > h2 {
	margin-top: 0rem;
}
#table-of-contents > nav > ul {
	margin-bottom: 0rem;
}

/* Footer, just copyright stuff */
footer {
	text-align: center;
	opacity: 50%;
	margin: 0.5rem;
}
